<%- include("../partials/header"); %>

<section class="container">
    <div class="row">
        <div class="col">
            <div class="row mt-5">
                <h1>Estoque</h1>
            </div>
            <div>
                <input class="form-control col-12" type="text" id="myInput" onkeyup="pesquisarProduto()"
                    placeholder="Pesquisar por nome">
            </div>
            <table class="table table-hover" id='myTable'>
                <thead>
                    <tr>
                        <th>Cód. Produto</th>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(resultado == 0){ %>
                    <tr>
                        <td colspan="5" class="alert alert-warning">Nenhum produto no estoque</td>
                    </tr>
                    <%}else{ resultado.forEach(function(produto){ %>
                    <tr>
                        <td> <%= produto.cod_produto %> </td>
                        <td> <%= produto.produto_estoque %> </td>
                        <td> <%= produto.preco_estoque %> </td>
                        <td> <%= produto.quant_estoque %> </td>
                        <td>
                            <a href="/estoque/editarProduto/<%=produto.cod_estoque %>" class="btn btn-outline-warning">Editar</a>
                            <a href="/estoque/deletarProduto/<%=produto.cod_estoque %>" class="btn btn-outline-danger">Apagar</a>
                        </td>
                    </tr>
                    <% })} %>
                </tbody>
            </table>
        </div>
    </div>
</section>

<%- include("../partials/footer"); %>
<%- include("../partials/search.ejs"); %>